<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.6.0" targetFramework="net472" />
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net472" />
  <package id="ControlzEx" version="4.3.1" targetFramework="net472" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="DotNetKit.Wpf.AutoCompleteComboBox" version="1.3.3" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="FontAwesomeIcons" version="1.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net472" />
  <package id="Magnum" version="2.1.3" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.1.1" targetFramework="net472" />
  <package id="MaterialDesign.Icons" version="1.1.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.1.3" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net472" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net472" />
  <package id="NetSparkle" version="1.1.0" targetFramework="net472" />
  <package id="NetSparkle.New" version="0.19.2" targetFramework="net472" />
  <package id="NetSparkle.Tools" version="1.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="RestSharp" version="106.11.4" targetFramework="net472" />
  <package id="SharpCompress" version="0.29.0" targetFramework="net472" />
  <package id="Splat" version="1.6.2" targetFramework="net472" />
  <package id="squirrel.windows" version="1.9.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SfSkinManager.WPF" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Themes.MaterialDarkBlue.WPF" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Themes.MaterialLight.WPF" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Tools.WPF" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="18.2.0.48" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="WPF_Auto_Update" version="1.2.1" targetFramework="net472" />
  <package id="WPFTextBoxAutoComplete" version="1.0.5" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.8.0.1269" targetFramework="net472" />
</packages>